/*
Paleta de cores do mais claro para o mais escuro
#00216f
#0b3081
#005ef8
#0050e5
#0041d2
#0033be
#0024ab
*/

.color-1 { background-color: rgb(65, 105, 225); }
.color-2 { background-color: rgb(78, 65, 225); }
.color-3 { background-color: rgb(65, 158, 225); }
.color-4 { background-color: rgb(132, 65, 225); }
.color-5 { background-color: rgb(65, 212, 225); }

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("../img/fundo.jpg");
    background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-position: center; /* Centraliza a imagem no corpo */
    color: black;
    font-weight: bold;    
}

header{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color: rgb(65, 158, 225, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: black ;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/* Classe Atribuída para a div que vai receber o logotipo */



main{    
    width: 80%;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto; 
    padding: 1%;   
        
}

section{
    padding: 1%;
   
}

#sobre{
    scroll-margin-top: 20%; /* Espaço superior para ajustar a ancoragem */

}

section:nth-child(even) {
    background-color:  rgb(65, 212, 225, 0.3);  /* Define a cor de fundo para seções pares */    
}

section:nth-child(odd) {
    background-color: rgb(65, 212, 225, 0.6);  /* Define a cor de fundo para seções ímpares */
}

.logotopo{
    max-width: 20%; 
    /* width: 15%; */
}


.rodape{
    padding: 3%;
    text-align: center;
    background-color: rgb(65, 158, 225, 0.9);
}

.titulos{
    font-family: "Salsa", cursive;
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h3{
    text-align: left;
    font-family: "Salsa", cursive;
    line-height: 3;    
    font-weight: bold;
}

p,li,table{
    font-family: "Handlee", cursive;
}

p{
    
    line-height: 1.5;
    font-size: 1.2em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
ul li{
    line-height: 1.5;
    font-size: 1.2em;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
td,th{
    border: 5px dashed #f00;
    padding: 1.5%;
}

/* essa faz uma linha cor sim cor não */
tr:nth-child(even) {
    background-color: #dddddd;
}

figure{
   text-align: center;
}

legend{
    margin-top:  0.6%;
}

.imgmeio{
    width: 50%;
}

.imggaleria{
    width: 90%;
}

.linha, .row  {
    display: flex;
    flex-flow: row wrap;
}

.col-3{
    width: 25%;  
   
}
.col-3 p{
    font-size: 1rem;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px); /* 3 cards por linha, os 20px é o espaço de margem entre eles */
    margin-bottom: 20px;
    background-color: rgb(65, 105, 225, 0.4);
    padding: 20px;
    box-sizing: border-box;
}

.col-6{
    width: 50%;
}

.centro{
    text-align: center;
}

input[type=text], [type=email], [type=tel], [type=date], [type=number],select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 22px);
  }

  input[type=submit] {
    width: 80%;
    background-color: rgb(65, 158, 225);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group {
    margin-bottom: 20px;
}

/* Estilo para checkboxes e labels associados */
.checkbox-group, .radio-group {
    margin-bottom: 20px;
}

.checkbox-group h2, .radio-group h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.checkbox-group input[type=checkbox], .radio-group input[type=radio] {
    margin-right: 10px;
}

textarea {
    width: calc(100% - 22px); /* Ajusta a largura para se alinhar com os outros campos */
    padding: 12px 20px; /* Padding interno para espaçamento do texto */
    border: 1px solid #ccc; /* Borda consistente com outros campos */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    font-size: 16px; /* Tamanho da fonte para melhor leitura */
    line-height: 1.5; /* Espaçamento entre linhas do texto */
    resize: vertical; /* Permite o redimensionamento apenas verticalmente */
    margin-top: 5px; /* Adiciona um pouco de margem superior para separação do label */
}
  

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 20px); /* 2 cards por linha em telas médias */
    }
    .col-6{
        width: 100%;
    }

    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(65, 105, 225, 0.8 );
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }

    nav ul li label {
        /* width: 100%; */
        display: block;
    }
}

@media screen and (max-width: 660px) {
    .card {
        width: calc(100% - 20px); /* 1 card por linha em telas pequenas (celulares) */
    }
   
}

